@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');
/* tipografias  
font-family: 'Inria Sans', sans-serif;

Cod Colores
#355D59 verde fondo index
#063E34 verde fondo botones
#FFC15D amarillo logo

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*index*/
.circulo-index {
    width: 700px;
    height: 120vh;
    border-radius: 700px 0px 0px 700px;
    overflow: hidden;
    opacity: 0.85;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4;
}

.hero-index {
    background-color: #063E34;
    width: 100%;
    height: 120vh;
    font-family: 'Inria Sans', sans-serif;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 30% 50% 20%;
    grid-template-areas:

        "header header header header"
        "main main main main"
        "footer footer footer footer"

    ;
}

.header-index {
    background-color: #063E34;
    grid-area: header;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem;
}

.logo-header {
    align-self: center;
    margin-left: 2rem;
    margin-top: 0.625rem;
}

.logo-header:hover {
    transform: scale(1.02);
    filter: drop-shadow(1px 2px 2px #72c0b2);
    transition: 0.5s;
}

.navbar {
    border: 1px solid white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #063E34;
    list-style: none;
    gap: 25px;
    padding: 0.625rem 0.625rem;
    border-radius: 20px;
    margin-right: 2rem;
    position: relative;
}

.navbar li a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    text-align: center;
}

.navbar li a:hover {
    color: #FFC15D;
    font-size: 32px;
    transition: 0.5s;
    filter: drop-shadow(1px 2px 2px #6b6d51);
}

.inicio {
    text-decoration: underline #FFC15D;

}

.nosotros {
    text-decoration: underline #FFC15D;

}

.profesores {
    text-decoration: underline #FFC15D;

}

.clubes {
    text-decoration: underline #FFC15D;

}

.planes {
    text-decoration: underline #FFC15D;

}

main {
    grid-area: main;

}

footer {
    grid-area: footer;
    background-color: #4a7c77e6;
    color: white;
    width: 100%;
    height: 10.688rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

}

footer section a {
    margin-left: 0.625rem;
    text-decoration: none;
    color: white;
}

.redes a:hover {
    font-size: 20px;
    filter: drop-shadow(1px 2px 2px #6b6d51);
    color: #FFC15D;
    transition: 0.5s;
}

.location-pin:hover {
    transform: scale(1.2);
    filter: drop-shadow(1px 2px 2px #6b6d51);
    color: #FFC15D;
    transition: 0.5s;

}

.tel {
    font-size: 22px;
}


.logo-chico {
    margin-right: 1.25rem;
}

.logo-chico:hover {
    transform: scale(1.02);
    filter: drop-shadow(2px 3px 3px #72c0b2);
    transition: 0.5s;
}

/* Index Main*/

.main-index {
    background-color: #063E34;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 40% 60%;
    grid-template-areas:

        "texto texto . ."
        ". botones botones botones"
    ;
}

.texto-index {
    margin-top: 2rem;
    grid-area: texto;
    width: 50rem;
    height: 10rem;
    color: white;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    align-self: center;
    text-align: center;
    position: relative;
}

.tenis-para-todos {
    color: #FFC15D;
}

.botones-index {
    grid-area: botones;
    align-self: first baseline;
    position: relative;
}

.botones-index a {

    margin-right: 0.800rem;
}

.botones-index a img:hover {
    transform: translateY(-15px);
    filter: drop-shadow(2px 3px 3px #78c8bb);
    transition: 0.5s;
}

/* Nosotros*/

.hero-nosotros {
    background-image: url(../assets/img/fondo-nosotros_1.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 170vh;
    font-family: 'Inria Sans', sans-serif;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 20% 65% 15%;
    grid-template-areas:

        "header header header header"
        "main main main main"
        "footer footer footer footer"

    ;
}

.header-nosotros {
    grid-area: header;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
    align-self: flex-end;
}

/* Nosotros Main */

.main-nosotros {
    font-family: 'Inria Sans', sans-serif;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 8.33%);
    grid-template-rows: repeat(16, 6.25%);
}

.nosotros-info {
    grid-column-start: 5;
    grid-row-start: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-decoration: underline #FFC15D;
    color: #042d24;
}

.nosotros-info img {
    width: 2.5rem;
    height: 2.5rem;
}

.nosotros-info h1 {
    font-family: 'Inria Sans', sans-serif;
    font-weight: 700;
    font-size: 44px;
    line-height: 41px;
    align-self: center;
}

.circulo-nosotros {
    justify-content: left;
    align-self: center;
}

.contenedor-nosotros {
    width: 82rem;
    height: 23.125rem;
    background-color: #F1EEEE;
    border-radius: 1.875rem;
    grid-column-start: 1;
    grid-column-end: 17;
    grid-row-start: 2;
    grid-row-end: 10;
    justify-self: center;
    align-self: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 7px 6px #5c6261;
}

.img-profe {
    width: 26.813rem;
    height: 23.125rem;
    border-radius: 1.875rem;
}

.nos-descripcion {
    width: 750px;
    height: 274px;
    font-family: 'Inria Sans', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    margin-right: 4.3750rem;
    margin-top: 40px;

}

/*Testimonios*/

.circulo-testimonios {
    grid-column-start: 5;
    grid-row-start: 10;
    grid-row-end: 11;
    display: flex;
    text-decoration: underline #FFC15D;
}

.circulo-testimonios h2 {
    font-family: 'Inria Sans', sans-serif;
    font-weight: 700;
    font-size: 44px;
    line-height: 41px;
    align-self: center;
    color: #042d24;
}

.circulo-testimonios img {
    justify-content: left;
    align-self: center;
    width: 2.5rem;
    height: 2.5rem;
}

.testi-juan {
    font-family: 'Inria Sans', sans-serif;
    background-color: #F1EEEE;
    width: 540px;
    height: 248px;
    border-radius: 1.875rem;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 11;
    grid-row-end: 17;
    grid: row start 2;
    align-self: center;
    display: flex;
    box-shadow: 5px 10px 10px #474646;
}

.juan-vidal {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    margin-left: 3px;
}

h3 span {
    color: #FFC15D;
    font-size: 58px;
    font-weight: 800;
}


.testi-alex {
    font-family: 'Inria Sans', sans-serif;
    background-color: #F1EEEE;
    width: 540px;
    height: 248px;
    border-radius: 1.875rem;
    grid-column-start: 8;
    grid-column-end: -2;
    grid-row-start: 11;
    grid-row-end: 17;
    grid: row start 2;
    justify-self: center;
    align-self: center;
    display: flex;
    box-shadow: 5px 10px 10px #474646;
}

.alex-banega {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    margin-left: 3px;
}

/*Profesores*/

.hero-profesores {
    background-image: url(../assets/img/fondo-pantalla-profesoress.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 160vh;
    font-family: 'Inria Sans', sans-serif;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 20% 65% 15%;
    grid-template-areas:

        "header header header header"
        "main main main main"
        "footer footer footer footer"

    ;
}

.header-profesores {
    grid-area: header;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
    align-self: flex-end;
}

/* Profesores Main */

.main-profesores {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 25% 25% 25% 1fr;
    grid-template-rows: 8% 70% 22%;
    grid-template-areas:

        ". . h1 . ."
        ". card1 card2 card3 ."
        ". frase frase frase ."
    ;
}

.profes-tit {
    grid-area: h1;
    display: flex;
    flex-direction: row;
    align-self: last baseline;
    text-decoration: underline #FFC15D;
}

.profes-tit img {
    width: 2.5rem;
    height: 2.5rem;
}

.profes-tit h1 {
    font-family: 'Inria Sans', sans-serif;
    font-weight: 700;
    font-size: 44px;
    line-height: 41px;
    align-self: center;
    color: #042d24;
}

.circulo-profesores {
    justify-content: left;
    align-self: center;
}

/*CARD PROFESORES*/


.card-1 {
    grid-area: card1;
    position: relative;
    width: 300px;
    height: 420px;
    background: #D9D9D9;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.4s;
    align-self: center;
    justify-self: center;
}

.card-1:hover {
    box-shadow: 0 5px 15px #063a2f;
    transform: translateY(-10px);
}

.head-1 {
    height: 125px;
    width: 100%;
    position: relative;
}

.circulo-1 {
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: #063E34;
    bottom: 0;
}

.img-1 {
    width: 150px;
    height: 150px;
    position: absolute;
    background: white;
    padding: 5px;
    border-radius: 50%;
    bottom: -30%;
    left: 50%;
    transform: translate(-50%);
}

.img-1 img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;

}

.descrip-1 {
    height: 235px;
    padding: 40px 20px 20px 20px;
    border-bottom: solid 1px #063E34;
    text-align: center;

}

.descrip-1 h5 {
    color: #dda03e;
    font-weight: 700;
    font-size: 30px;

}

.descrip-1 h6 {
    color: #f3b34d;
    font-weight: 500;
    font-size: 17px;
    line-height: 30px;
}

.descrip-1 p {
    margin-top: 7px;
    font-size: 16px;
}

.contact-perfil-1 {
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-perfil-1 a {
    text-decoration: none;
    color: white;
    background: #09594b;
    padding: 5px 20px;
    border-radius: 5px;
    transition: 0.4s;
}

.contact-perfil-1 a:hover {
    transform: translateY(-5px);
    background: #063a2f;
}

/*CARD 2*/
.card-2 {
    grid-area: card2;
    position: relative;
    width: 300px;
    height: 420px;
    background: #D9D9D9;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.4s;
    align-self: center;
    justify-self: center;
}

.card-2:hover {
    box-shadow: 0 5px 15px #063a2f;
    transform: translateY(-10px);
}

.head-2 {
    height: 125px;
    width: 100%;
    position: relative;
}

.circulo-2 {
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: #063E34;
    bottom: 0;
}

.img-2 {
    width: 150px;
    height: 150px;
    position: absolute;
    background: white;
    padding: 5px;
    border-radius: 50%;
    bottom: -30%;
    left: 50%;
    transform: translate(-50%);
}

.img-2 img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;

}

.descrip-2 {
    height: 235px;
    padding: 40px 20px 20px 20px;
    border-bottom: solid 1px #063E34;
    text-align: center;

}

.descrip-2 h5 {
    color: #dda03e;
    font-weight: 700;
    font-size: 30px;

}

.descrip-2 h6 {
    color: #f3b34d;
    font-weight: 500;
    font-size: 17px;
    line-height: 30px;
}

.descrip-2 p {
    margin-top: 7px;
    font-size: 16px;
}

.contact-perfil-2 {
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-perfil-2 a {
    text-decoration: none;
    color: white;
    background: #09594b;
    padding: 5px 20px;
    border-radius: 5px;
    transition: 0.4s;
}

.contact-perfil-2 a:hover {
    transform: translateY(-5px);
    background: #063a2f;
}

/*CARD 3*/
.card-3 {
    grid-area: card3;
    position: relative;
    width: 300px;
    height: 420px;
    background: #D9D9D9;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.4s;
    align-self: center;
    justify-self: center;
}

.card-3:hover {
    box-shadow: 0 5px 15px #063a2f;
    transform: translateY(-10px);
}

.head-3 {
    height: 125px;
    width: 100%;
    position: relative;
}

.circulo-3 {
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: #063E34;
    bottom: 0;
}

.img-3 {
    width: 150px;
    height: 150px;
    position: absolute;
    background: white;
    padding: 5px;
    border-radius: 50%;
    bottom: -30%;
    left: 50%;
    transform: translate(-50%);
}

.img-3 img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;

}

.descrip-3 {
    height: 235px;
    padding: 40px 20px 20px 20px;
    border-bottom: solid 1px #063E34;
    text-align: center;

}

.descrip-3 h5 {
    color: #dda03e;
    font-weight: 700;
    font-size: 30px;

}

.descrip-3 h6 {
    color: #f3b34d;
    font-weight: 500;
    font-size: 17px;
    line-height: 30px;
}

.descrip-3 p {
    margin-top: 7px;
    font-size: 16px;
}

.contact-perfil-3 {
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-perfil-3 a {
    text-decoration: none;
    color: white;
    background: #09594b;
    padding: 5px 20px;
    border-radius: 5px;
    transition: 0.4s;
}

.contact-perfil-3 a:hover {
    transform: translateY(-5px);
    background: #063a2f;
}

/*FRASE PROFESORES*/
.frase-profesores {
    grid-area: frase;
    align-self: center;
    justify-self: center;
    background-color: #D9D9D9;
    width: 56.438rem;
    height: 5rem;
    border-radius: 1.875rem;
    font-family: 'Inria Sans', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 28px;
    line-height: 2rem;
    text-align: center;
    box-shadow: 5px 7px 6px #5c6261;
}

/*CLubes*/

.hero-clubes {
    background-image: url(../assets/img/fondo-pantalla-clubes.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 140vh;
    font-family: 'Inria Sans', sans-serif;
    display: grid;
    grid-template-columns: repeat(1fr);
    grid-template-rows: 20% 65% 15%;
    grid-template-areas:

        "header"
        "main"
        "footer"
    ;
}
.header-clubes{
    grid-area: header;
}
.main-clubes {
    font-family: 'Inria Sans', sans-serif;
    width: 100%;
}
main {
    grid-area: main;
}

footer {
    grid-area: footer;
    align-self: flex-end;
}
.clubes-tit img{
    width: 2.5rem;
    height: 2.5rem;
}
.clubes-tit h1 {
    font-family: 'Inria Sans', sans-serif;
    font-weight: 700;
    font-size: 44px;
    line-height: 41px;
}
.texto-clubes {
    width: 923px;
    height: 95px;
    box-shadow: 5px 3px 6px #5c6261;
    font-family: 'Inria Sans', sans-serif;
}

.img-blanqueada-1 {
    width: 354px;
    height: 266px;
    box-shadow: 5px 10px 10px #101010;
}
.img-blanqueada-1:hover {
    box-shadow: 0 5px 15px #207562;
}
.la-blanqueada {
    width: 226px;
    height: 48px;
    box-shadow: 5px 10px 6px #101010;
}
.img-blanqueada:hover {
    transform: translateY(-10px);
    transition: 0.5s;
}

.img-buceo-1 {
    width: 354px;
    height: 266px;
    box-shadow: 5px 10px 10px #101010;
}
.img-buceo-1:hover {
    box-shadow: 0 5px 15px #207562;
}
.buceo {
    width: 226px;
    height: 48px;
    box-shadow: 5px 10px 6px #101010;
}
.img-buceo:hover {
    transform: translateY(-10px);
    transition: 0.5s;
}

.img-prado-1 {
    width: 354px;
    height: 266px;
    box-shadow: 5px 10px 10px #101010;
}
.img-prado-1:hover {
    box-shadow: 0 5px 15px #207562;
}
.prado {
    width: 226px;
    height: 48px;
    box-shadow: 5px 10px 6px #101010;
}
.img-prado:hover {
    transform: translateY(-10px);
    transition: 0.5s;
}




/*

main {
    grid-area: main;
}

footer {
    grid-area: footer;
    align-self: flex-end;
}

/*MAIN CLUBES

.main-clubes {
    font-family: 'Inria Sans', sans-serif;
    width: 100%;
    display: grid;
    grid-template-columns: 5% 30% 30% 30% 5%;
    grid-template-rows: 5% 20% auto;
    grid-template-areas:

        ". . h1 . ."
        ". texto texto texto ."
        ". blanqueada buceo prado ."
    ;
}

.clubes-tit {
    grid-area: h1;
    display: flex;
    flex-direction: row;
    align-self: first baseline;
    color: white;
    text-decoration: underline #FFC15D;
}

.clubes-tit h1 {
    font-family: 'Inria Sans', sans-serif;
    font-weight: 700;
    font-size: 44px;
    line-height: 41px;
    align-self: center;
}

.circulo-clubes {
    justify-content: left;
    align-self: center;
    width: 2.5rem;
    height: 2.5rem;
}

.texto-clubes {
    grid-area: texto;
    align-self: last baseline;
    justify-self: center;
    width: 923px;
    height: 95px;
    background-color: #c1bebedd;
    border-radius: 30px;
    box-shadow: 5px 3px 6px #5c6261;
}

.texto-clubes p {
    color: white;
    font-family: 'Inria Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    -webkit-text-stroke: 1px #0000006e;
}

/*FOTO CLUBES 


.img-blanqueada {
    grid-area: blanqueada;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;

}

.img-blanqueada-1:hover {
    box-shadow: 0 5px 15px #207562;
    transform: translateY(-10px);
    transition: 0.4s;
}

.img-blanqueada-1 {
    display: flex;
    flex-direction: column;
    width: 354px;
    height: 266px;
    border-radius: 30px;
    box-shadow: 5px 10px 10px #101010;
}

.la-blanqueada {
    align-self: center;
    width: 226px;
    height: 48px;
    border-radius: 20px;
    font-family: 'Inria Sans', sans-serif;
    color: black;
    font-weight: 700;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    background-color: #d9d9d9d2;
    box-shadow: 5px 10px 6px #101010;
}

.la-blanqueada:hover {
    box-shadow: 0 5px 15px #207562;
    transform: translateY(-10px);
    transition: 0.4s;
}




.img-buceo {
    grid-area: buceo;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
}

.img-buceo-1 {
    display: flex;
    flex-direction: column;
    width: 354px;
    height: 266px;
    border-radius: 30px;
    box-shadow: 5px 10px 10px #101010;
}

.img-buceo-1:hover {
    box-shadow: 0 5px 15px #207562;
    transform: translateY(-10px);
    transition: 0.4s;
}

.buceo {
    align-self: center;
    width: 226px;
    height: 48px;
    border-radius: 20px;
    font-family: 'Inria Sans', sans-serif;
    color: black;
    font-weight: 700;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    background-color: #d9d9d9d2;
    box-shadow: 5px 10px 6px #101010;
}

.buceo:hover {
    box-shadow: 0 5px 15px #207562;
    transform: translateY(-10px);
    transition: 0.4s;
}



.img-prado {
    grid-area: prado;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
}

.img-prado-1 {
    display: flex;
    flex-direction: column;
    width: 354px;
    height: 266px;
    border-radius: 30px;
    box-shadow: 5px 10px 10px #101010;
}

.img-prado-1:hover {
    box-shadow: 0 5px 15px #207562;
    transform: translateY(-10px);
    transition: 0.4s;
}

.prado {
    align-self: center;
    width: 226px;
    height: 48px;
    border-radius: 20px;
    font-family: 'Inria Sans', sans-serif;
    color: black;
    font-weight: 700;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    background-color: #d9d9d9d2;
    box-shadow: 5px 10px 6px #101010;
}

.prado:hover {
    box-shadow: 0 5px 15px #207562;
    transform: translateY(-10px);
    transition: 0.4s;
}
*/

/*Planes*/

.hero-planes {
    background-image: url(../assets/img/fondo-pantallas-planes.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200vh;
    font-family: 'Inria Sans', sans-serif;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 17% 70% 13%;
    grid-template-areas:

        "header header header header"
        "main main main main"
        "footer footer footer footer"

    ;
}

.header-planes {
    grid-area: header;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem;
}

main {
    grid-area: main;
}

.footer-planes {
    grid-area: footer;
    align-self: flex-end;
    height: 100%;
}


/*MAIN PLANES*/

.main-planes {
    font-family: 'Inria Sans', sans-serif;
    width: 100%;
    display: grid;
    grid-template-columns: 5% 22.5% 22.5% 22.5% 22.5% 5%;
    grid-template-rows: 5% 15% 40% 40%;
    grid-template-areas:
        ". . h1 . . ."
        ". texto texto texto texto ."
        ". plan1 plan2 plan3 plan4 ."
        ". . form form . ."
    ;
}

.planes-tit {
    grid-area: h1;
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-self: first baseline;
    color: white;
    text-decoration: underline #FFC15D;
}

.planes-tit h1 {
    font-family: 'Inria Sans', sans-serif;
    font-weight: 700;
    font-size: 44px;
    line-height: 41px;
    align-self: center;
}

.circulo-planes {
    justify-content: left;
    align-self: center;
    width: 2.5rem;
    height: 2.5rem;
}

.texto-planes {
    grid-area: texto;
    justify-self: center;
    align-self: center;
    width: 1000px;
    height: 138px;
    background-color: #d9d9d9d2;
    font-family: 'Inria Sans', sans-serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 33px;
    color: white;
    text-align: center;
    border-radius: 20px;
    box-shadow: 5px 7px 6px #021c16;
}

.texto-planes p {
    -webkit-text-stroke: 1px #00000064;
}


/*PLAN 1*/
.card-plan1 {
    grid-area: plan1;
    background-color: #D9D9D9;
    width: 271px;
    height: 343px;
    border-radius: 20px;
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 10px 6px #063329;
}

.card-plan1:hover {
    box-shadow: 0 5px 15px #0b5d4b;
    transform: translateY(-10px);
    transition: 0.5s;
}

.card-plan1 h3 {
    margin-top: 30px;
    margin-left: 80px;
    width: 218px;
    height: 49px;
    color: #dda346;
    font-family: 'Inria Sans', sans-serif;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
}

.card-list1 {
    margin-left: 40px;
    margin-top: 30px;
    width: 243px;
    height: 226px;
    font-family: 'Inria Sans', sans-serif;
    font-weight: 700;
    font-size: 19px;
    line-height: 28px;
    display: flex;
    flex-direction: column;

}

.precio-plan-1 {
    margin-top: 25px;
    margin-left: 40px;
    width: 243px;
    height: 226px;
    font-family: 'Inria Sans', sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    color: #d09a42;
    text-decoration: underline;
}

/*PLAN 2*/

.card-plan2 {
    grid-area: plan2;
    background-color: #D9D9D9;
    width: 271px;
    height: 343px;
    border-radius: 20px;
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 10px 6px #063329;
}

.card-plan2:hover {
    box-shadow: 0 5px 15px #0b5d4b;
    transform: translateY(-10px);
    transition: 0.5s;
}


.card-plan2 h3 {
    margin-top: 30px;
    margin-left: 80px;
    width: 218px;
    height: 49px;
    color: #dda346;
    font-family: 'Inria Sans', sans-serif;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
}

.card-list2 {
    margin-left: 40px;
    margin-top: 30px;
    width: 243px;
    height: 226px;
    font-family: 'Inria Sans', sans-serif;
    font-weight: 700;
    font-size: 19px;
    line-height: 28px;
    display: flex;
    flex-direction: column;
}

.precio-plan-2 {
    margin-top: 25px;
    margin-left: 40px;
    width: 243px;
    height: 226px;
    font-family: 'Inria Sans', sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    color: #d09a42;
    text-decoration: underline;
}

/*PLAN 3*/

.card-plan3 {
    grid-area: plan3;
    background-color: #D9D9D9;
    width: 271px;
    height: 343px;
    border-radius: 20px;
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 10px 6px #063329;
}

.card-plan3:hover {
    box-shadow: 0 5px 15px #0b5d4b;
    transform: translateY(-10px);
    transition: 0.5s;
}


.card-plan3 h3 {
    margin-top: 30px;
    margin-left: 80px;
    width: 218px;
    height: 49px;
    color: #dda346;
    font-family: 'Inria Sans', sans-serif;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
}

.card-list3 {
    margin-left: 40px;
    margin-top: 30px;
    width: 243px;
    height: 226px;
    font-family: 'Inria Sans', sans-serif;
    font-weight: 700;
    font-size: 19px;
    line-height: 28px;
    display: flex;
    flex-direction: column;

}

.precio-plan-3 {
    margin-top: 25px;
    margin-left: 40px;
    width: 243px;
    height: 226px;
    font-family: 'Inria Sans', sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    color: #d09a42;
    text-decoration: underline;
}

/*PLAN 4*/

.card-plan4 {
    grid-area: plan4;
    background-color: #D9D9D9;
    width: 271px;
    height: 343px;
    border-radius: 20px;
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 10px 6px #063329;
}

.card-plan4:hover {
    box-shadow: 0 5px 15px #0b5d4b;
    transform: translateY(-10px);
    transition: 0.5s;
}

.card-plan4 h3 {
    margin-top: 30px;
    margin-left: 80px;
    width: 218px;
    height: 49px;
    color: #dda346;
    font-family: 'Inria Sans', sans-serif;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
}

.card-list4 {
    margin-left: 35px;
    margin-top: 10px;
    width: 243px;
    height: 226px;
    font-family: 'Inria Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    display: flex;
    flex-direction: column;
}

.precio-plan-4 {
    margin-top: 15px;
    margin-left: 40px;
    width: 243px;
    height: 226px;
    font-family: 'Inria Sans', sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    color: #d09a42;
    text-decoration: underline;
}

/*FORMULARIO*/

.contact-form {
    grid-area: form;
    align-self: last baseline;
    background-color: #4a7c77e6;
    padding: 15px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    color: #e2a84b;
    box-shadow: 5px 10px 6px #063a2f;
}

.contact-form h4 {
    margin-bottom: 10px;
    font-size: 24px;
    text-align: center;
    text-decoration: underline;
}

.form {
    display: flex;
    flex-direction: column;

}

.form input {
    font-family: 'Inria Sans', sans-serif;
    margin-bottom: 10px;
    line-height: 30px;
    font-size: 16px;
    border-radius: 10px;
    box-shadow: 1px 2px 4px #063a2f;
}

.form textarea {
    font-family: 'Inria Sans', sans-serif;
    margin-bottom: 10px;
    font-size: 16px;
    box-shadow: 1px 2px 4px #063a2f;
}

#consulta {
    border-radius: 10px;
}

#enviar {
    padding: 7px;
    width: 150px;
    border-radius: 10px;
    box-shadow: 1px 2px 4px #063a2f;
}


/*MEDIA QUERRRIES*/

/*MEDIA QUERRY ----- PROFESORES------*/

/* 1024px */

@media(max-width:1206px) {
    .hero-profesores {
        height: 239vh;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 20% 70% 10%;
    }

    .header-profesores {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .logo-header {
        align-self: center;
        margin-left: 0;
        margin-top: 0;
    }

    .navbar {
        gap: 50px;
    }

    /*---MAIN PROFESORES-----*/

    .main-profesores {
        grid-template-columns: 1fr 25% 25% 25% 1fr;
        grid-template-rows: 8% 40% 40% 12%;
        grid-template-areas:

            ". . h1 . ."
            ". card1 . card2 ."
            ". . card3 . ."
            ". frase frase frase ."
        ;
    }

    .card-3 {
        align-self: last baseline;
    }

    .profes-tit {
        justify-self: center;
        align-self: center;
    }
}


@media(max-width:925px) {
    .navbar {
        gap: 40px;
    }

    .frase-profesores {
        width: 40rem;
        height: 5rem;
        font-size: 20px;
        line-height: 2rem;
    }
}

/*--- 768------ px */

@media(max-width:750px) {

    .navbar li a {
        font-size: 22px;
    }
}

@media(max-width:711px) {

    .logo-chico {
        display: none;
    }

    .tel {
        font-size: 18px;
    }
}

@media(max-width:660px) {
    .hero-profesores {
        height: 410vh;
        grid-template-columns: 1fr;
        grid-template-rows: 20% 65% 15%;
    }

    .main-profesores {
        grid-template-columns: 1fr;
        grid-template-rows: 5% 26.6% 26.6% 26.6% 15%;
        grid-template-areas:

            "h1"
            "card1"
            "card2"
            "card3"
            "frase"
        ;
    }

    .navbar {
        flex-direction: column;
    }

    footer {
        height: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 15px;
    }

    .redes {
        display: flex;
        font-size: 10px;
    }

    .redes a img {
        margin-right: 10px;
    }

    .logo-chico {
        display: inline;
        width: 50px;
    }

    .frase-profesores {
        width: 30rem;
        height: 7rem;
        font-size: 19px;
        line-height: 2rem;
    }

}

@media(max-width:489px) {
    .hero-profesores {
        height: 430vh;
        grid-template-columns: 1fr;
        grid-template-rows: 20% 60% 20%;
    }

    .profes-tit h1 {
        font-size: 30px;
    }

    .frase-profesores {
        width: 25rem;
        height: 8rem;
        font-size: 19px;
        line-height: 2rem;
    }

    .redes {
        flex-direction: column;
        font-size: 20px;
    }
}

@media(max-width:409px) {

    .frase-profesores {
        width: 19rem;
        height: 8.5rem;
        font-size: 16px;
        line-height: 2rem;
    }

}

@media(max-width:320px) {
    .frase-profesores {
        width: 19rem;
        height: 8.5rem;
        font-size: 16px;
        line-height: 2rem;
    }
}


/*MEDIA QUERRY ----- Clubes ------*/


@media(max-width:1206px) {
    .hero-clubes {
        height: 160vh;
    }

    .navbar {
        gap: 25px;
        margin-right: 1rem;
    }
}
/* 1024px */

@media(max-width:1150px) {
    .hero-clubes{
        height: 210vh ;
    }

    .logo-clubes{
    flex-direction: column;
    align-items: center;
    }
}

@media(max-width:992px) {
    .texto-clubes {
        width: 800px;
        height: 95px;
    }

}
@media(max-width:850px) {
    .texto-clubes {
        width: 700px;
        height: 110px;
        font-size: 20px;
    }

}

@media(max-width:772px) {
    .hero-clubes{
        height: 270vh ;
    }
    .texto-clubes {
        width: 630px;
        height: 140px;
        font-size: 18px;
    }

}
@media(max-width:660px) {
    .hero-clubes {
        height: 340vh;
        grid-template-rows: 22% 62% 16%;

    }
    .texto-clubes {
        width: 500px;
        height: 170px;
        font-size: 18px;
    }
}
@media(max-width:576px) {
    .header-clubes{
        align-items: center;
        gap: 16px;
        margin-top: 16px;
    }
}

@media(max-width:530px) {
    .texto-clubes {
        width: 425px;
        height: 190px;
        font-size: 16px;
    }
}

@media(max-width:500px) {
    .hero-clubes {
        height: 370vh;
        grid-template-rows: 20% 57% 23%;

    }
}


@media(max-width:450px) {
    .texto-clubes {
        width: 380px;
        height: 200px;
        font-size: 16px;
    }
}

@media(max-width:425px) {
    .texto-clubes {
        width: 290px;
        height: 220px;
    
    }
}
