.img-blanqueada {
    grid-area: blanqueada;
    @include flex(column,center,center);

    &:hover {
        transform: translateY(-10px);
        transition: 0.4s;
    }

    a {
        img {
            @include flex(column,none,none);
            width: 354px;
            height: 266px;
            border-radius: 30px;
            box-shadow: 5px 10px 10px #101010;
        }
    }

    strong {
        align-self: center;
        width: 226px;
        height: 48px;
        border-radius: 20px;
        font-family: $font-family;
        margin-top: -5px;
        color: #09594b;
        font-weight: 800;
        font-size: 25px;
        line-height: 40px;
        letter-spacing: 2px;
        text-align: center;
        background-color: #d9d9d9e2;
        box-shadow: 5px 10px 6px #101010;
    }
}

.img-buceo {
    grid-area: buceo;
    @include flex(column,center,center);

    &:hover {
        transform: translateY(-10px);
        transition: 0.4s;
    }

    a {
        img {
            @include flex(column,none,none);
            width: 354px;
            height: 266px;
            border-radius: 30px;
            box-shadow: 5px 10px 10px #101010;
        }
    }

    strong {
        align-self: center;
        width: 226px;
        height: 48px;
        border-radius: 20px;
        font-family: $font-family;
        margin-top: -5px;
        color: #09594b;
        font-weight: 800;
        font-size: 29px;
        line-height: 40px;
        letter-spacing: 2px;
        text-align: center;
        background-color: #d9d9d9e2;
        box-shadow: 5px 10px 6px #101010;
    }
}

.img-prado {
    grid-area: prado;
    @include flex(column,center,center);

    &:hover {
        transform: translateY(-10px);
        transition: 0.4s;
    }

    a {
        img {
            @include flex(column,none,none);
            width: 354px;
            height: 266px;
            border-radius: 30px;
            box-shadow: 5px 10px 10px #101010;
        }
    }

    strong {
        align-self: center;
        width: 226px;
        height: 48px;
        border-radius: 20px;
        font-family: $font-family;
        margin-top: -5px;
        color: #09594b;
        font-weight: 800;
        font-size: 29px;
        line-height: 40px;
        letter-spacing: 2px;
        text-align: center;
        background-color: #d9d9d9e2;
        box-shadow: 5px 10px 6px #101010;
    }
}