@media(max-width:385px) {
    
    .texto-index{
        width: 19rem;
        font-size: 20px;
    }


    .contenedor-nosotros {
        width: 220px;
        height: 630px ;
            div{
                img{
                    display: none;
                }
                p{
                    width: 190px;
                    font-size: 13px;
                    margin: none;
                    line-height: 23px;
                    letter-spacing: none;
                }
            }
        }

    .img-blanqueada {
        a {
            img {
                width: 290px;
                height: 202px;
            }
        }
    }

    .img-buceo {
        a {
            img {
                width: 290px;
                height: 202px;
            }
        }
    }

    .img-prado {
        a {
            img {
                width: 290px;
                height: 202px;
            }
        }
    }
}