@media (max-width:530px) {

    .hero-planes {
        grid-template-rows: 10% 70% 20%;
        height: 460vh;
    }

    .texto-planes {
        width: 390px;
        height: 210px;
        font-size: 17px;
    }

    .contact-form {
        justify-self: center;
        width: 390px;
    }

}