@media(max-width:340px) {
    .main-nosotros {
        grid-template-rows: 4% 40% 5% auto ;
    }
    .nosotros-info{
        h1{
            font-size:32px;
        }
    }
    .contenedor-nosotros {
        width: 200px;
        height: 640px ;
            div{
                img{
                    display: none;
                }
                p{
                    width: 180px;
                    font-size: 12px;
                    margin: none;
                    line-height: 23px;
                    letter-spacing: none;
                }
            }
        }
    .circulo-testimonios {
        h2{
            font-size: 32px;
        }
    }
    .testi-juan {
        width: 220px;
        height: 430px ;
        div{
            font-size: 12;
            p{
            width: 210px;
            }
        }
    }
    .testi-alex {
        width: 220px;
        height: 430px ;
        div{
            font-size: 12;
            p{
            width: 210px;
            }
        }
    }

    .bar-btn {
        margin-right: 0.5rem;
    }

    .hero-planes {
        grid-template-rows: 9% 71% 20%;
    }
}