@media (max-width:1320px) {
    .contenedor-nosotros{
        width: 1000px;
        height: 350px;
        div{
            img{
                height: 100%;
            }
            p{
                width: 560px;
                font-size: 19px;

            }
        }
    }

    .testi-juan {
        width: 500px;
    }

    .testi-alex{
        width: 500px;
    }



}