@media (max-width:1206px) {

    .hero-nosotros {
        height: 270vh;

    }

    .main-nosotros {
        grid-template-columns: repeat(12, 8.33%);
    grid-template-rows: repeat(16, 6.25%);
    }

    .contenedor-nosotros {
        grid-row-start: 2;
    grid-row-end: 8;
    width: 850px;
        height: 360px;
        gap: 20px;
        div{
            img{
                width: 22rem;
                height: 100%;
            }
            p{
                width: 460px;
                font-size: 17px;
                text-align:left;
                margin-right: none;

            }
        }
    }

    .circulo-testimonios {
        grid-row-start: 8;
        grid-row-end: 9;
    }

    .testi-juan {
        grid-column-start: 3;
        grid-column-end: 8;
        grid-row-start: 9;
    grid-row-end: 13;
    }

    .testi-alex {
        grid-column-start: 5;
        grid-column-end: 10;
        grid-row-start: 13;
    grid-row-end: 17;
    }






    .hero-profesores {
        height: 240vh;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 20% 70% 10%;
    }

    nav {
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 20px;
        gap: 10px;
    }


    .main-profesores {
        grid-template-columns: 1fr 25% 25% 25% 1fr;
        grid-template-rows: 8% 40% 40% 12%;
        grid-template-areas: ". . h1 . ." ". card1 . card2 ." ". . card3 . ." ". frase frase frase .";
    }

    .card-3 {
        align-self: last baseline;
    }

    .profes-tit {
        justify-self: center;
        align-self: center;
    }

    .hero-clubes {
        height: 200vh;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 25% 62% 13%;
    }


    .main-clubes {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 5% 15% 40% 40%;
        grid-template-areas: "h1 ." "texto texto" "blanqueada buceo" "prado .";
    }

    .clubes-tit {
        justify-self: last baseline;
    }

    .texto-clubes {
        align-self: center;
    }

    .hero-planes {
        height: 270vh;
        grid-template-rows: 18% 70% 12%;
    }

    .main-planes {
        grid-template-columns: 5% 30% 30% 30% 5%;
        grid-template-rows: 4% 9% 28% 28% 30%;
        grid-template-areas: ". . h1 . . " ". texto texto texto ." ". plan1 plan2 plan3 ." ". .plan4 . ." ". . form . .";
    }

    .contact-form {
        justify-self: center;
        width: 450px;
    }
}