@media(max-width:340px) {
    .main-nosotros {
        grid-template-rows: 4% 40% 5% auto ;
    }
    .nosotros-info{
        h1{
            font-size:38px;
        }
    }
    .circulo-testimonios {
        h2{
            font-size: 38px;
        }
    }
    .testi-juan {
        width: 240px;
        height: 420px ;
        div{
            font-size: 13;
            p{
            width: 220px;
            }
        }
    }
    .testi-alex {
        width: 240px;
        height: 420px ;
        div{
            font-size: 13;
            p{
            width: 220px;
            }
        }
    }

    .bar-btn {
        margin-right: 0.5rem;
    }

    .hero-planes {
        grid-template-rows: 9% 71% 20%;
    }
}