@media(max-width:409px) {

    .frase-profesores {
        width: 19rem;
        height: 8.5rem;
        font-size: 16px;
        line-height: 2rem;
    }

    .navbar {
        width: 280px;

        li {
            a {
                font-size: 32px;
                letter-spacing: 3px;
            }

        }
    }

    .texto-planes {
        width: 290px;
        height: 245px;
        font-size: 17px;
    }

    .contact-form {
        justify-self: center;
        width: 280px;
    }

    .card1 {
        transform: translate(18%);
    }

}