@media(max-width:1024px) {
    .hero-index {
        height: 150vh;
    }
    .circulo-index {
        height: 150vh;
    }

    .texto-planes {
        width: 800px;
        height: 140px;
        justify-content: center;
    }
}