@media (max-width:495px) {
    .hero-index {
        height: 230vh;
        grid-template-rows: 12% 47% 41%;
    }

    .texto-index{
        width: 23rem;
        font-size: 20px;
    }



    .hero-nosotros {
        height: 380vh;
        grid-template-rows: 10% 66% 24%;
    }
    .main-nosotros {
        grid-template-columns: 1fr;
        grid-template-rows: 4% 38% 5% auto ;
    }
    .hero-profesores {
        height: 430vh;
        grid-template-columns: 1fr;
        grid-template-rows: 10% 65% 25%;
    }


    .frase-profesores {
        width: 25rem;
        height: 8rem;
        font-size: 19px;
        line-height: 2rem;
    }

    .redes {
        flex-direction: column;
        font-size: 20px;
        gap: 5px;

        a {
            img {
                margin-right: 10px;
                width: 40px;
                height: 40px;
            }

            span {
                display: inline;
            }
        }
    }

    .hero-clubes {
        height: 380vh;
        grid-template-rows: 10% 63% 32%;
    }

    .texto-clubes {
        width: 360px;
        height: 200px;
        font-size: 16px;
    }
}