@media (max-width:670px) {
    .hero-nosotros {
        height: 270vh;
        grid-template-columns:1fr;
        grid-template-rows: 15% 65% 20%;
        grid-template-areas: "header " "main " "footer ";
    }

    .main-nosotros {
        grid-template-columns: 1fr;
        grid-template-rows: 5% 45% 5% auto ;
        grid-template-areas: "nos-inf" "cont-nos""cir-testi""juan""alex";
    }
    .nosotros-info {
        grid-area: nos-inf ;
        justify-self: center;
        img{
            justify-self: center;
            align-self: center;
        }
    }
    .contenedor-nosotros {
        grid-area:cont-nos ;
        justify-self: center;
        width: 420px;
        height: 440px ;
            div{
                img{
                    display: none;
                }
                p{
                    width: 380px;
                    font-size: 17px;
                }
            }
    }

    .circulo-testimonios {
        grid-area: cir-testi;
        justify-self: center;
    }
    .testi-juan {
        grid-area: juan;
        justify-self: center;
        align-self: center;
        width: 470px;
        height: 200px;
            div{
                font-size: 14px;
                h3{
                    span{
                        font-size: 40px;
                    }
                }
            }
            img{
                width: 200px;
                height: 200px;
            }
    }
    .testi-alex {
        grid-area: alex;
        justify-self: center;
        align-self: center;
        width: 470px;
        height: 200px;
            div{
                font-size: 14px;
                h3{
                    span{
                        font-size: 40px;
                    }
                }
            }
            img{
                width: 200px;
                height: 200px;
            }
    }


    .hero-profesores {
        height: 420vh;
        grid-template-columns: 1fr;
        grid-template-rows: 10% 70% 20%;
    }

    .main-profesores {
        grid-template-columns: 1fr;
        grid-template-rows: 5% 26.6% 26.6% 26.6% 15%;
        grid-template-areas: "h1" "card1" "card2" "card3" "frase";
    }

    .header-profesores {
        gap: 10px;
    }

    footer {
        height: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 15px;
    }

    .redes {
        display: flex;
        font-size: 10px;
        gap: 25px;

        a {
            img {
                margin-right: 10px;
                width: 60px;
                height: 60px;

                &:hover {
                    transform: scale(1.3);
                    transition: 0.5s;
                }
            }

            span {
                display: none;
            }
        }
    }

    .logo-chico {
        display: inline;
        width: 50px;
        align-self: center;
    }

    .frase-profesores {
        width: 30rem;
        height: 7rem;
        font-size: 19px;
        line-height: 2rem;
    }

    .hero-clubes {
        height: 360vh;
        grid-template-rows: 12% 68% 25%;
    }

    .texto-clubes {
        width: 450px;
        height: 170px;
        font-size: 18px;
    }

    .hero-planes {
        grid-template-rows: 10% 74% 16%;
        height: 420vh;
    }

    .main-planes {
        grid-template-columns: auto;
        grid-template-rows: 5% 10% repeat(5, 1fr);
        grid-template-areas: "h1" "texto" "plan1" "plan2" "plan3" "plan4" "form";
    }

    .planes-tit {
        justify-self: center;
    }

    .texto-planes {
        width: 500px;
        height: 150px;
        font-size: 18px;
    }
}