@media(max-width:850px) {
    .hero-index {
        background-image: url(../assets/img/fondo-index-recortado.jpg);
        background-repeat: no-repeat;
        background-position:center;
        height: 150vh;
    }


    .main-index {
        background: none;
        grid-template-columns: 50% 50% ;
        grid-template-rows: 30% 70%;
        grid-template-areas: "texto texto" "botones botones";
    }
    .texto-index{
        grid-area: texto;
        margin-top: none;
        width: 40rem;
        font-size: 25px;
        justify-self: center;
    }
    .botones-index{
        grid-area: botones;
        justify-items: center;
        align-self: center;
        
        gap: 1.25rem;
        display: grid;
        grid-template-columns: 50% 50% ;
        grid-template-rows: 50% 50%;
        grid-template-areas: "nosotros profes" "clubes planes";
    }
    .boton-nosotros{
        grid-area: nosotros;

    }
    .boton-profesores{
        grid-area: profes;
    }
    .boton-clubes{
        grid-area: clubes;
    }
    .boton-planes{
        grid-area: planes;
    }
    .circulo-index {
        display: none;
    }

    .hero-clubes {
        height: 210vh;
    }

    .texto-clubes {
        width: 700px;
        height: 110px;
        font-size: 20px;
    }

}