@media(max-width:385px) {
    .img-blanqueada {
        a {
            img {
                width: 290px;
                height: 202px;
            }
        }
    }

    .img-buceo {
        a {
            img {
                width: 290px;
                height: 202px;
            }
        }
    }

    .img-prado {
        a {
            img {
                width: 290px;
                height: 202px;
            }
        }
    }
}