@media (max-width:780px) {


    .logo {
        margin-left: 20px;

    }

    nav {
        height: 200px;
        flex-direction: row;

    }

    .bar-btn {
        display: inline;
        font-size: 25px;
        color: white;
        margin-right: 1.5rem;
        cursor: pointer;

    }

    .nav-menu {

        position:fixed;
        height: 0vh;
        width: 100%;
        top: 150px;
        background: rgba(6, 62, 52, 0.947);
        transition: all .5s;
        text-align: center;
        border: none;
        border-radius:none;
        z-index: 1;
    }

    .nav-menu li {
        display: none;
        line-height: 1.875rem;
        margin: 3.125rem 0;
        transition: all .5s;
    }

    .nav-menu li a {
        font-size: 28px;

    }

    .hero-clubes {
        height: 280vh;
        grid-template-columns: 1fr;
        grid-template-rows: 15% 72% 13%;
    }

    .main-clubes {
        grid-template-columns: 1fr;
        grid-template-rows: 5% 15% 26.6% 26.6% 26.6%;
        grid-template-areas: "h1" "texto" "blanqueada" "buceo" "prado";
    }

    .clubes-tit {
        justify-self: center;
    }

    .texto-clubes {
        width: 600px;
        height: 140px;
        font-size: 18px;
    }

    .texto-planes {
        width: 580px;
        height: 150px;
        font-size: 22px;
    }
}