.circulo-testimonios {
    grid-column-start: 5;
    grid-row-start: 10;
    grid-row-end: 11;
    display: flex;
    text-decoration: underline #FFC15D;

    h2 {
        font-family: $font-family;
        font-weight: 700;
        font-size: 44px;
        line-height: 41px;
        align-self: center;
        color: #042d24;
    }

    img {
        justify-content: left;
        align-self: center;
        width: 2.5rem;
        height: 2.5rem;
    }
}

.testi-juan {
    font-family: $font-family;
    background-color: #F1EEEE;
    width: 540px;
    height: 240px;
    border-radius: 1.875rem;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 11;
    grid-row-end: 17;
    grid: row start 2;
    align-self: center;
    display: flex;
    justify-content: space-between;
    box-shadow: 5px 10px 10px #474646;

    div {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        align-items: center;
        text-align: center;
        margin-left: 3px;

        h3 {
            span {
                color: $amarillo-titulo;
                font-size: 54px;
                font-weight: 800;
            }
        }

        p {
            align-self: center;
            width: 255px;
            margin-left: 6px;
        }
    }

    img {
        align-self: center;
        width: 250px;
        height: 240px;
    }
}

.testi-alex {
    font-family: $font-family;
    background-color: #F1EEEE;
    width: 540px;
    height: 240px;
    border-radius: 1.875rem;
    grid-column-start: 8;
    grid-column-end: -2;
    grid-row-start: 11;
    grid-row-end: 17;
    grid: row start 2;
    justify-self: center;
    align-self: center;
    display: flex;
    justify-content: space-between;
    box-shadow: 5px 10px 10px #474646;

    div {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        align-items: center;
        text-align: center;
        margin-left: 3px;

        h3 {
            span {
                color: $amarillo-titulo;
                font-size: 54px;
                font-weight: 800;
            }
        }

        p {
            align-self: center;
            width: 255px;
            margin-left: 6px;
        }
    }

    img {
        align-self: center;
        width: 250px;
        height: 240px;
    }
}